<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/advertisements.css">
    <title>Advertisements</title>
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <div>
                <img src="/assets/imgs/logo.png" class="logo" alt="Logo">
            </div>
            <div>
                <a href="/admins/logout" class="nav-link">Logout</a>
            </div>
        </nav>

        <section class="section">
            <h2 class="section-heading">Add New Advertisement</h2>
            <%- include('./partials/messages') %>
            <form action="/advertisements/new" method="POST" enctype="multipart/form-data">
                <div class="new-form-container">
                    <div class="form-left">
                        <input type="text" name="title" id="title" placeholder="Title">
                        <textarea name="details" id="details" cols="30" rows="10" placeholder="Advertisement Details"></textarea>
                        <input type="text" name="link" id="link" placeholder="Link">
                        <label class="upload-label">
                            Upload Image<input type="file" name="advertisementImage" id="image" accept="image/*" onchange="previewImage(event)">
                        </label>
                    </div>
                    <div class="form-right">
                        <div class="image-preview-container">
                            <img id="image-preview">
                        </div>
                        <button type="submit" class="btn-submit">Submit</button>
                    </div>
                </div>
            </form>
        </section>

        <% if(typeof advertisements != 'undefined') { %>
            <section class="section">
                <h2 class="section-heading">Advertisements</h2>
                <% advertisements.forEach(function(advertisement){ %>
                    <div class="advertisement-container">
                        <img src="<%= advertisement.advertisementImagePath %>" alt="Advertisement Image">
                        <div class="advertisement-details">
                            <div id="d<%= advertisement._id %>" class="advertisement-info">
                                <h1><%= advertisement.title %></h1>
                                <p><%= advertisement.details %></p>
                                <p><%= advertisement.link %></p>
                                <p>Views: <%= advertisement.views %></p>
                                <p>Clicks: <%= advertisement.clicks %></p>
                            </div>
                            <form action="/advertisements/edit/<%= advertisement._id %>" method="POST" id="f<%= advertisement._id %>" class="edit-form">
                                <div>
                                    <input type="text" name="title" id="title" value="<%= advertisement.title %>">
                                </div>
                                <div>
                                    <textarea name="details" id="details" cols="30" rows="10"><%= advertisement.details %></textarea>
                                </div>
                                <div>
                                    <input type="text" name="link" id="link" value="<%= advertisement.link %>">
                                </div>
                                <button type="submit" class="btn-advertisement btn-green">Save</button>
                                <button type="button" class="btn-advertisement btn-red" onclick="cancelEdit(`<%= advertisement._id %>`)">Cancel</button>
                            </form>
                            <div>
                                <button class="btn-advertisement btn-green" onclick="openEdit(`<%= advertisement._id %>`)">Edit</button>
                                <form action="/advertisements/delete/<%= advertisement._id %>?_method=DELETE" method="POST">
                                    <button type="submit" class="btn-advertisement btn-red">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </section>
        <% } %>
    </div>

    <script src="/js/advertisements.js" defer></script>
</body>
</html>